<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href ="{% static 'css/style.css' %}">
    <script defer src = "{% static 'js/Carrousel.js' %}"></script>
    <title>Arreglos Miki´s</title>
</head>
<body>

    <div id="Header">
        <ul id="log">
            <li>
                <a>Iniciar Sesion</a>
            </li>
            <li>
                <a>Registrate</a>
            </li>
        </ul>
        <nav id="Principal">
            <ul id="Company">
                <li>
                    <a>Candied Dreams</a>
                </li>  
            </ul>
            <ul id="PrincipalNav">
                      
                    <li>
                        <a>Inicio</a>
                    </li>
                
                    <li>
                        <a>Catálogo</a>
                    </li>
                
                    <li>
                        <a>Promociones</a>
                    </li>
                
                    <li>
                        <a>Contacto</a>
                    </li>
                
            </ul>
            
            <ul id="Process">
                <li>Buscar</li>
                <li>Carrito</li>
            </ul>
        </nav>
    </div>


    <div class="Carrousel">
        <div class="Big">
            <img src="{% static 'media/goku.jpg' %}", alt="Img1" class="img">
            <img src="{% static 'media/perrito.jpg' %}", alt="Img2" class="img">
        </div>

        <ul class="puntos">
            <li class="punto"></li>
            <li class="punto"></li>
        </ul>


    </div>


    <div id="MainSection">
        <div id="Catalogo">
            {%if products_list%}
            {% for product in products_list %}
            <div id="Product">
                <h4 id="Name">{{ product.name }}</h4>
                <p id="Description">{{ product.description }}</p>
                <p id="Price">{{ product.price }}</p>
                <p id="Discount">{{ product.discount }}</p>
            </div>
            {% endfor %}
        {% else %}

        {% endif%}
        </div>

        <section id="Reviews">
            <p>En este caso lo hizo bien</p>
            <p>En este caso lo hizo meh</p>
            <p>En este caso lo hizo sin mas ni menos</p>
        </section>

        




    </div>

    
</body>
</html>