<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
</head>
<body>
    <h1>Hola, soy la prueba</h1>
    <div id="contenido">
    {% for dato in datos %}
        <div>
            <p>{{ dato.id }}</p>
            <p>{{ dato.name }}</p>
        </div>

    {% endfor %}
    
    <!--HTML-->

<!--JS-->
<script>
setInterval("location.reload()",6000);
</script>
    </div>
</body>
</html>