*{
    list-style: none;
    padding: 0;
    margin:0;
}
body{
    height: 1000px;
    overflow: hidden;
}
#Header{
    width: 100%;
}
#Principal{
    display: flex;
    height: 50px;
    padding-top: 15px;
    width: 55%;
    margin: auto;
    text-align: center;
}
#Company{
    display: inline-flex;
    height: 50px;
    margin: auto;

}
#Company li{
    margin: auto;
}
#PrincipalNav{
    display: inline-flex;
    height: 50px;
    width: 65%;
    margin: auto 20px;
    color: black;
}
#PrincipalNav li{
    width: 25%;
    margin: auto;
    
}

#Process{
    display: inline-flex;
    height: 50px;
    width: 15%;
    margin: auto;
}
#Process li{
    margin: auto;
    
}
#log {
    width: 100%;
    display: inline-flex;
    justify-content: end;
}
#log li{
    width: 10%;
    color:red;
    font-size: 15px;
}
#MainSection{
    width: 100%;
    display: inline-flex;
    margin-top: 20px;
}
#Catalogo{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}
#Product{
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}
#Reviews{
    width: 15%;
    display: inline-block;
}
#Reviews p{
    padding-top: 20px;
}

.Carrousel{
    width: 90%;
    max-width: 120em;
    background-color: lightskyblue;
}
.Carrousel .Big{
    width: 200%;
    background-color: orange;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all .5s ease;
    
}
.Carrousel .img{
    width: calc(40% /2) ;
    height: 300px;
    
}
.Carrousel .puntos{
    width: 100%;
    background-color: red;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.Carrousel .punto{
    width: 2em;
    height: 1em;
    background-color:blue ;
    margin: 1em;
}
.Carrousel .punto .activo{
    background-color: orange;
}