*{
    list-style: none;
    padding: 0;
    margin:0;
}
body{
    height: 1000px;
    overflow-x: hidden;
}
#Header{
    width: 100%;
}
#Principal{
    display: flex;
    height: 50px;
    padding-top: 15px;
    width: 55%;
    margin: auto;
    text-align: center;
}
#Company{
    display: inline-flex;
    height: 50px;
    width: 15%;
    margin: auto;
    

}
#Company li{
    margin: auto;
}
#PrincipalNav{
    display: inline-flex;
    height: 50px;
    width: 65%;
    margin: auto 20px;
    color: black;
}
#PrincipalNav li{
    width: 25%;
    margin: auto;
    
}

#Process{
    display: inline-flex;
    height: 50px;
    width: 15%;
    margin: auto;
}
#Process li{
    margin: auto;
    
}
#log {
    width: 100%;
    display: inline-flex;
    justify-content: end;
}
#log li{
    width: 10%;
    color:red;
    font-size: 15px;
}
#MainSection{
    width: 80%;
    display: inline-flex;
    margin-top: 20px;
    margin-left: 10%;
}
#Catalogo{
    width: 85%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px; 
    grid-auto-rows :minmax(100px,auto); 
    grid-auto-columns :minmax(100px,auto); 
    
}
#Product{
    border: 1px solid black;
    height: 10em;
    border-radius: 10px;
    margin: auto;
    margin-top: 3em;
    padding: 10px;
    box-shadow: 10px -10px rgba(0, 0, 0, 0.118);
}
#Reviews{
    width: 15%;
    display: inline-block;
}
#Reviews p{
    padding-top: 20px;
}

.Carrousel{
    width: 80%;
    margin-left: 10%;
    max-width: 120em;
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
    justify-content: center;

}
.Carrousel .Big{
    width: 200%;
    height: 25vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease;
    transform: translateX(-28.25%);
    
}
.Carrousel .img{
    border-radius: 14px;
    width: calc(10% /2);
    width: 15vh;
    height: 20vh;
    
    
}
.Carrousel .puntos{
    width: 100%;
    background-color: rgb(217, 217, 217);
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.Carrousel .punto{
    width: 2em;
    height: 1em;
    margin: 1em;
}
.Carrousel .activo{
    color: rgb(255, 0, 0);
}